<%= simple_form_for @service_request, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :service_name %>
  <%= f.input :serivce_type %>
  <%= f.input :status %>
  <%= f.input :street_number %>
  <%= f.input :street_direction %>
  <%= f.input :city %>
  <%= f.input :zip %>
  <%= f.input :country %>
  <%= f.input :date %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                service_requests_path, :class => 'btn' %>
  </div>
<% end %>
